<h2>ABC Model &amp; Charts</h2>
        <p>We will now introduce the idea of the &quot;ABCs&quot; of Behavior or the Antecedent-Behavior-Consequence Model, before talking about using ABC Charts to better understand and change your child's behavior</p>
        <p>Watch this video to learn more about the ABCs of Behavior Model!</p>
        <div class="embed_video"><iframe width="560" height="315" src="https://www.youtube.com/embed/3G2dCbwEPgE?si=Q7gZU_iusnP1-RMB" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></div>
        <h2>Practice Identifying the ABCs</h2>